@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

body {
  font-family: "Nanum Gothic", sans-serif;
  background: black;
  color: white;
  overflow-x: hidden;
}

.text_container {
  color: gray;
  font-weight: bold;
  font-size: 75px;
  width: 100%;
}

.white_font {
  color: white;
}

.main_slide {
  width: 1920px;
  height: 100%;
}

.line_text {
  margin-left: 50px;
}

.category {
  margin-top: 200px;
  font-size: 35px;
  width: 300px;
  margin-left: 50px;
  font-weight: bold;
}